In [ ]:
# Hypothesis testing
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt 
from statsmodels.stats.proportion import proportions_ztest # used in proportion test
from statsmodels.stats.multicomp import pairwise_tukeyhsd # used in posthoc ANOVA
import math # used in confidence interval range computation in proportion test

# New Section

Dataset needed:
cranksh.csv, Exh_Stat.csv, Furnace.csv, diet_indep.csv, Diet_B_A.csv, Paired_Diff_1T.csv, carpet.csv, FilterNoise_data.csv, QC_2.csv,Biscuits_Chi.csv,Car.csv

In [ ]:
# connecting google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
 # Loading Data
 import pandas as pd
crank= pd.read_csv("/content/drive/MyDrive/DBA DATA SET/cranksh (2).csv")
crank.tail(10)

     AtoBDist  Month  Day
115   0.95699     10   25
116  -4.03441     10   25
117  -2.05086     10   25
118  -3.10319     10   25
119  -1.83001     10   25
120   5.03945     10   25
121   1.96583     10   25
122  -0.21026     10   25
123   0.27517     10   25
124  -5.32797     10   25

In [ ]:
crank.tail()

     AtoBDist  Month  Day
120   5.03945     10   25
121   1.96583     10   25
122  -0.21026     10   25
123   0.27517     10   25
124  -5.32797     10   25

In [ ]:
crank.shape

(125, 3)

In [ ]:
crank.isnull().sum()

AtoBDist    0
Month       0
Day         0
dtype: int64

In [ ]:
crank.AtoBDist

0     -0.44025
1      5.90038
2      2.08965
3      0.09998
4      2.01594
        ...
120    5.03945
121    1.96583
122   -0.21026
123    0.27517
124   -5.32797
Name: AtoBDist, Length: 125, dtype: float64

In [ ]:
# find number of columns and rows
crank.shape

(125, 3)

In [ ]:
#testing for normality,Ho= Data is normally distributed
from statistics import as stat
stats.shapiro(crank.AtoBDist)  # testing for normality

SyntaxError: ignored

In [ ]:
# Loading Data
df=pd.read_csv("/content/drive/MyDrive/DBA DATA SET/Exh_Stat (2).csv")

In [ ]:
df.head()

,Values,Mat-A,Mat-B,PriceIndex,Achievement,DBP1,DBP2,Growth,Treatment,EnzymeActivity,Therapy,Litter,Response,Impact,HelmetType,Location
0,4.9,13.2,14.0,0,77.0,90.0,62.0,15.1,1.0,0.15,1.0,1.0,0,47.0,1.0,1.0
1,5.1,8.2,8.8,50,88.0,72.0,85.0,13.0,1.0,0.26,1.0,2.0,0,43.0,1.0,1.0
2,4.6,10.9,11.2,56,85.0,61.0,78.0,16.2,3.0,0.23,1.0,3.0,1,46.0,1.0,2.0
3,5.0,14.3,14.2,72,74.0,66.0,66.0,14.9,1.0,0.99,1.0,4.0,0,40.0,1.0,2.0
4,5.1,10.7,11.8,80,75.0,81.0,80.0,13.2,1.0,0.55,2.0,1.0,1,62.0,2.0,1.0

In [ ]:
# One-sample t-test
import statistics
stats.ttest_1samp(df.Values,5, nan_policy='omit')# One-sample t-test

NameError: ignored

In [ ]:
# Two-sample t-test
Furnace=pd.read_csv("/content/drive/MyDrive/DBA DATA SET/Furnace (3).csv")
Furnace.tail()

    Type CH.Area CH.Shape  CH.HT CH.Liner  House  Age  BTU_In  BTU_Out  Damper
85     2     100        2     24        0      2   70   14.35    15.26       2
86     2      96        1     17        0      1   40   13.42    14.53       2
87     1     100        2     20        1      2   99    6.35     6.84       2
88     1     100        2     20        1      1   14    9.83    10.92       2
89     1      28        1     28        1      2   55   12.16    13.05       2

In [ ]:
Furnace.tail()

    Type CH.Area CH.Shape  CH.HT CH.Liner  House  Age  BTU_In  BTU_Out  Damper
85     2     100        2     24        0      2   70   14.35    15.26       2
86     2      96        1     17        0      1   40   13.42    14.53       2
87     1     100        2     20        1      2   99    6.35     6.84       2
88     1     100        2     20        1      1   14    9.83    10.92       2
89     1      28        1     28        1      2   55   12.16    13.05       2

In [ ]:
Furnace[Furnace.Damper==1].BTU_In

0      7.87
1      9.43
2      7.16
3      8.67
4     12.31
5      9.84
6     16.90
7     10.04
8     12.62
9      7.62
10    11.12
11    13.43
12     9.07
13     6.94
14    10.28
15     9.37
16     7.93
17    13.96
18     6.80
19     4.00
20     8.58
21     8.00
22     5.98
23    15.24
24     8.54
25    11.09
26    11.70
27    12.71
28     6.78
29     9.82
30    12.91
31    10.35
32     9.60
33     9.58
34     9.83
35     9.52
36    18.26
37    10.64
38     6.62
39     5.20
Name: BTU_In, dtype: float64

In [ ]:
BTU_Damper_1=Furnace[Furnace.Damper==1].BTU_In
BTU_Damper_2=Furnace[Furnace.Damper==2].BTU_In
stats.shapiro(BTU_Damper_1) # normality test

NameError: ignored

In [ ]:
stats.shapiro(BTU_Damper_2)

NameError: ignored

In [ ]:
stats.levene(BTU_Damper_1,BTU_Damper_2) # HOV test

NameError: ignored

In [ ]:
stats.ttest_ind(BTU_Damper_1,BTU_Damper_2,equal_var=True)

NameError: ignored

In [ ]:
# Paired t-test

# first run the independent samples t test on the following file
Diet1=pd.read_csv("/content/drive/MyDrive/Data/DBA_lecture/Industry-data/python_data/Hypothesis_Test/diet_indep.csv")
Diet1.head()

FileNotFoundError: ignored

# New Section

In [ ]:
Diet1_S_A=Diet1[Diet1.stage=='A'].weight
Diet1_S_B=Diet1[Diet1.stage=='B'].weight

NameError: ignored

In [ ]:
stats.levene(Diet1_S_A,Diet1_S_B) # HOV test

LeveneResult(statistic=0.06219886197606224, pvalue=0.8039348427469275)

In [ ]:
stats.ttest_ind(Diet1_S_A,Diet1_S_B,equal_var=True)

Ttest_indResult(statistic=-0.16346494223278468, pvalue=0.8707206406481118)

In [ ]:
# Now run a paired t test on teh following file
Diet2=pd.read_csv("/content/drive/MyDrive/Data/DBA_lecture/Industry-data/python_data/Hypothesis_Test/Diet_B_A.csv")
Diet2.head()

   Before  After
0      79     80
1      93     92
2      85     86
3      77     79
4      59     60

In [ ]:
Diet2['Diff']=Diet2['After']-Diet2['Before']
Diet2

    Before  After  Diff
0       79     80     1
1       93     92    -1
2       85     86     1
3       77     79     2
4       59     60     1
5       77     76    -1
6       59     58    -1
7       53     51    -2
8       77     78     1
9       81     80    -1
10      91     91     0
11      66     64    -2
12      85     85     0
13      69     66    -3
14      88     86    -2
15      94     93    -1
16      62     61    -1
17      63     64     1
18      65     65     0
19      96     96     0
20      76     76     0
21      66     66     0
22      86     84    -2
23      76     74    -2
24      81     80    -1
25      82     83     1
26      70     70     0
27      80     80     0
28      74     73    -1
29      73     72    -1

In [ ]:
stats.ttest_rel(Diet2.Before,Diet2.After) # paired t test

Ttest_relResult(statistic=2.137552767254513, pvalue=0.04111183424082343)

In [ ]:
# Now we will run 1-t test for the follwing file to explain paired t test 
Diet3=pd.read_csv("/content/drive/MyDrive/Data/DBA_lecture/Industry-data/python_data/Hypothesis_Test/Paired_Diff_1T.csv")
Diet3.head()

   Before  After  Diff
0      79     80  -1.0
1      93     92   1.0
2      85     86  -1.0
3      77     79  -2.0
4      59     60  -1.0

In [ ]:
stats.ttest_1samp(Diet3.Diff,0, nan_policy='omit',)# One-sample t-test

Ttest_1sampResult(statistic=2.137552767254513, pvalue=0.04111183424082343)

In [ ]:
# (HoV)
#Furnace=pd.read_csv("/content/drive/My Drive/python_data/Hypothesis_Test/Furnace.csv")
#Furnace.head()
#BTU_Damper_1=Furnace[Furnace.Damper==1].BTU_In
#BTU_Damper_2=Furnace[Furnace.Damper==2].BTU_In
#stats.levene(BTU_Damper_1,BTU_Damper_2) # HOV test

In [ ]:
# ANOVA
carpet=pd.read_csv("/content/drive/My Drive/Learning Modules/python_data/Hypothesis_Test/carpet.csv")
carpet

    Durability  Carpet Composition
0        18.95       1           A
1        12.62       1           B
2        11.94       1           A
3        14.42       1           B
4        10.06       2           A
5         7.19       2           B
6         7.03       2           A
7        14.66       2           B
8        10.92       3           A
9        13.28       3           B
10       14.52       3           A
11       12.51       3           B
12       10.46       4           A
13       21.40       4           B
14       18.10       4           A
15       22.50       4           B

In [ ]:
Dur_1=carpet[carpet.Carpet==1].Durability
Dur_2=carpet[carpet.Carpet==2].Durability
Dur_3=carpet[carpet.Carpet==3].Durability
Dur_4=carpet[carpet.Carpet==4].Durability
stats.levene(Dur_1,Dur_2,Dur_3,Dur_4) # HOV test

LeveneResult(statistic=0.852955075545235, pvalue=0.49151640217421344)

In [ ]:
stats.shapiro(Dur_1)

(0.875879168510437, 0.3213345408439636)

In [ ]:
stats.shapiro(Dur_2)

(0.8578694462776184, 0.2526775002479553)

In [ ]:
stats.shapiro(Dur_3)

(0.9947891235351562, 0.9805223345756531)

In [ ]:
stats.shapiro(Dur_4)

(0.8785440921783447, 0.332455039024353)

In [ ]:
stats.f_oneway(Dur_1,Dur_2,Dur_3,Dur_4) # ANOVA - One-way

F_onewayResult(statistic=3.581516025979231, pvalue=0.04673622246265323)

In [ ]:
# posthoc anova
print(pairwise_tukeyhsd(carpet.Durability, carpet.Carpet,alpha=0.05))

 Multiple Comparison of Means - Tukey HSD, FWER=0.05
=====================================================
group1 group2 meandiff p-adj   lower    upper  reject
-----------------------------------------------------
     1      2  -4.7475 0.3118 -12.4969  3.0019  False
     1      3   -1.675    0.9  -9.4244  6.0744  False
     1      4   3.6325 0.5258  -4.1169 11.3819  False
     2      3   3.0725 0.6402  -4.6769 10.8219  False
     2      4     8.38 0.0328   0.6306 16.1294   True
     3      4   5.3075 0.2296  -2.4419 13.0569  False
-----------------------------------------------------

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# one way ANOVA with filter_noise data with Filter Type as X and Noise as Y
Filter_Noise=pd.read_csv("/content/drive/MyDrive/Data/DBA_lecture/Industry-data/python_data/Hypothesis_Test/FilterNoise_data.csv")
Filter_Noise

    NOISE  SIZE  TYPE  SIDE
0     810     1     1     1
1     820     1     1     1
2     820     1     1     1
3     840     2     1     1
4     840     2     1     1
5     845     2     1     1
6     785     3     1     1
7     790     3     1     1
8     785     3     1     1
9     835     1     1     2
10    835     1     1     2
11    835     1     1     2
12    845     2     1     2
13    855     2     1     2
14    850     2     1     2
15    760     3     1     2
16    760     3     1     2
17    770     3     1     2
18    820     1     2     1
19    820     1     2     1
20    820     1     2     1
21    820     2     2     1
22    820     2     2     1
23    825     2     2     1
24    775     3     2     1
25    775     3     2     1
26    775     3     2     1
27    825     1     2     2
28    825     1     2     2
29    825     1     2     2
30    815     2     2     2
31    825     2     2     2
32    825     2     2     2
33    770     3     2     2
34    760     3     2     2
35    765     3     2     2

In [ ]:
Noise_1=Filter_Noise[Filter_Noise.TYPE==1].NOISE
Noise_2=Filter_Noise[Filter_Noise.TYPE==2].NOISE

In [ ]:
stats.f_oneway(Noise_1,Noise_2) # ANOVA - One-way

F_onewayResult(statistic=1.2461805388211478, pvalue=0.2721106886072948)

In [ ]:
!pip install pingouin # This installation of library is for 2-way ANOVA

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pingouin
  Downloading pingouin-0.5.2.tar.gz (185 kB)
     |████████████████████████████████| 185 kB 35.7 MB/s
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.21.6)
Collecting scipy>=1.7
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 1.2 MB/s
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.3.5)
Requirement already satisfied: matplotlib>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from pingouin) (3.2.2)
Requirement already satisfied: seaborn>=0.11 in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.11.2)
Collecting statsmodels>=0.13
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 31.9 MB/s
Requirement already satisfied: scikit-learn<1.1.0 in /usr/local/lib/python3.7/dist-packages (from pingouin) (1.0.2)
Collecting pandas_flavor>=0.2.0
  Downloading pandas_flavor-0.3.0-py3-none-any.whl (6.3 kB)
Collecting outdated
  Downloading outdated-0.2.1-py3-none-any.whl (7.5 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from pingouin) (0.8.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (1.4.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.2->pingouin) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.2->pingouin) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pingouin) (2022.1)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from pandas_flavor>=0.2.0->pingouin) (0.20.2)
Collecting pandas_flavor>=0.2.0
  Downloading pandas_flavor-0.2.0-py2.py3-none-any.whl (6.6 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.2->pingouin) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn<1.1.0->pingouin) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13->pingouin) (21.3)
Collecting littleutils
  Downloading littleutils-0.2.2.tar.gz (6.6 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from outdated->pingouin) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->outdated->pingouin) (3.0.4)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from xarray->pandas_flavor>=0.2.0->pingouin) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->xarray->pandas_flavor>=0.2.0->pingouin) (3.8.0)
Building wheels for collected packages: pingouin, littleutils
  Building wheel for pingouin (setup.py) ... done
  Created wheel for pingouin: filename=pingouin-0.5.2-py3-none-any.whl size=196206 sha256=d9d67fba8f9ef02b436a997c56e77fe80ed284567fa5aad2b2896077c0458e20
  Stored in directory: /root/.cache/pip/wheels/11/5a/63/a6d32fc26fa462c731f65480bfb98ff7bd39b8ebcb4bc6c2fe
  Building wheel for littleutils (setup.py) ... done
  Created wheel for littleutils: filename=littleutils-0.2.2-py3-none-any.whl size=7048 sha256=3e6f5d3b1eadec000985f96df5d640b8b121bfb616129ef2631965e1fa3dfbbd
  Stored in directory: /root/.cache/pip/wheels/d6/64/cd/32819b511a488e4993f2fab909a95330289c3f4e0f6ef4676d
Successfully built pingouin littleutils
Installing collected packages: scipy, littleutils, statsmodels, pandas-flavor, outdated, pingouin
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed littleutils-0.2.2 outdated-0.2.1 pandas-flavor-0.2.0 pingouin-0.5.2 scipy-1.7.3 statsmodels-0.13.2

In [ ]:
import pingouin as pg # loading the library to use a method to run 2-way ANOVA

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Data/DBA_lecture/Industry-data/python_data/Hypothesis_Test/FilterNoise_data.csv")
df.head()

   NOISE  SIZE  TYPE  SIDE
0    810     1     1     1
1    820     1     1     1
2    820     1     1     1
3    840     2     1     1
4    840     2     1     1

In [ ]:
# Before running 2-way ANOVA, run one way ANOVA with Noise as outcome and Filter Type as X factor. 
# You will observe a P-value which suggest that Filter Type is insignifacnt
# Now run 2-way ANOVA to see the different outcome. Filter Type becomes significant along the interaction effect
pg.anova(data=df,dv="NOISE", between=["SIZE", "TYPE"]).round(3)
# data=dataframe, dv=Name of column in data containing the dependent variable.
# between=If 'between' is a list with two or more elements, a N-way ANOVA is performed.
# in the output np2=partial eta-square(effect size)

        Source         SS  DF         MS        F  p-unc    np2
0         SIZE  26051.389   2  13025.694  199.119  0.000  0.930
1         TYPE   1056.250   1   1056.250   16.146  0.000  0.350
2  SIZE * TYPE    804.167   2    402.083    6.146  0.006  0.291
3     Residual   1962.500  30     65.417      NaN    NaN    NaN

In [ ]:
# proportion test
df=pd.read_csv("/content/drive/My Drive/python_data/Hypothesis_Test/QC_2.csv")
df.head()

   Run1    Run2
0  PASS  FAILED
1  PASS    PASS
2  PASS    PASS
3  PASS    PASS
4  PASS    PASS

In [ ]:
df['Run1'].value_counts()

PASS      977
FAILED     23
Name: Run1, dtype: int64

In [ ]:
df['Run2'].value_counts()

PASS      671
FAILED     29
Name: Run2, dtype: int64

In [ ]:
m=df['Run1'].value_counts()
m

PASS      977
FAILED     23
Name: Run1, dtype: int64

In [ ]:
m[1]

23

In [ ]:
# Ho:proportion=value ( One sample test)
proportions_ztest(count=23, nobs=1000,value=.03,alternative="two-sided")

(-1.476681520784597, 0.1397610279221274)

In [ ]:
proportions_ztest(count=23, nobs=1000,value=.03,alternative="larger")

(-1.476681520784597, 0.9301194860389363)

In [ ]:
proportions_ztest(count=23, nobs=1000,value=.02,alternative="larger")

(0.6328635089076843, 0.26341138964440347)

In [ ]:
proportions_ztest(count=m[1], nobs=1000,value=.02,alternative="larger")

(0.6328635089076843, 0.26341138964440347)

In [ ]:
# confidence interval  calculation
p=23/(23+977) # sample proportion
n=len(df.Run1) # sample size

stats.norm.interval(alpha=0.95,                   # confidence level
                    loc=p,                        # sample proportion
                    scale=math.sqrt((p*(1-p)/n))) # standard error of proportion

(0.013709067799202402, 0.032290932200797595)

In [ ]:
# confidence interval for mean ***********
carpet=pd.read_csv("/content/drive/My Drive/python_data/Hypothesis_Test/carpet.csv")
carpet.head()

   Durability  Carpet Composition
0       18.95       1           A
1       12.62       1           B
2       11.94       1           A
3       14.42       1           B
4       10.06       2           A

In [ ]:
m=carpet.Durability.mean() # point estimate of mean
s=carpet.Durability.std()  # sample standard deviation
n=len(carpet.Durability)   # sample size

stats.t.interval(alpha=0.95,           # confidence level
                 df=n-1,               # degree of freedom
                 loc=m,                # sample mean
                 scale=s/math.sqrt(n)) # standard error of mean

(11.36315989647658, 16.20684010352342)

In [ ]:
# Chi-square test of independence
df=pd.read_csv("/content/drive/MyDrive/Data/DBA_lecture/Industry-data/python_data/Hypothesis_Test/Biscuits_Chi.csv")
df.head()

   Observations Crackers Bloat  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0             1     Bran    hi         NaN         NaN         NaN         NaN
1             2     Bran    hi         NaN         NaN         NaN         NaN
2             3     Bran    hi         NaN         NaN         NaN         NaN
3             4     Bran    hi         NaN         NaN         NaN         NaN
4             5     Bran    lo         NaN         NaN         NaN         NaN

In [ ]:
df.tail()

     Observations Crackers Bloat  ...  Unnamed: 4  Unnamed: 5  Unnamed: 6
104           105      Gum  none  ...         NaN         NaN         NaN
105           106      Gum  none  ...         NaN         NaN         NaN
106           107      Gum  none  ...         NaN         NaN         NaN
107           108      Gum  none  ...         NaN         NaN         NaN
108           109      Gum  none  ...         NaN         NaN         NaN

[5 rows x 7 columns]

In [ ]:
table=pd.crosstab(df.Crackers,df.Bloat) 
table

Bloat     hi  lo  med  none
Crackers
Bran       4   9   11    15
Combo      7   9    8     9
Gum       11  12    9     5

In [ ]:
chi2,p,dof,exp=stats.chi2_contingency(table)
exp # expected frequency

array([[ 7.87155963, 10.73394495, 10.01834862, 10.37614679],
       [ 6.66055046,  9.08256881,  8.47706422,  8.77981651],
       [ 7.46788991, 10.18348624,  9.50458716,  9.8440367 ]])

In [ ]:
dof

6

In [ ]:
print("Chisquare=",chi2,"p-value=",p)

Chisquare= 8.79644943720179 p-value= 0.18535337060778312

In [ ]:
# now run the new file taking the 'combo' out
df=pd.read_csv("/content/drive/My Drive/python_data/Hypothesis_Test/Biscuits2_Chi.csv")
df.head()

   Observations Crackers Bloat  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6
0             1     Bran    hi         NaN         NaN         NaN         NaN
1             2     Bran    hi         NaN         NaN         NaN         NaN
2             3     Bran    hi         NaN         NaN         NaN         NaN
3             4     Bran    hi         NaN         NaN         NaN         NaN
4             5     Bran    lo         NaN         NaN         NaN         NaN

In [ ]:
table=pd.crosstab(df.Crackers,df.Bloat)
table

Bloat     hi  lo  med  none
Crackers
Bran       4   9   11    15
Gum       11  12    9     5

In [ ]:
chi2,p,dof,exp=stats.chi2_contingency(table)
exp # expected frequency

array([[ 7.69736842, 10.77631579, 10.26315789, 10.26315789],
       [ 7.30263158, 10.22368421,  9.73684211,  9.73684211]])

In [ ]:
print("Chisquare=",chi2,"p-value=",p)

Chisquare= 8.84873444873445 p-value= 0.03137113929963858

In [ ]:
# Non-parametric alternative to two-sample t-test

car=pd.read_csv("/content/drive/MyDrive/Data/DBA_lecture/Industry-data/python_data/Hypothesis_Test/Car.csv")
pd.options.display.max_columns=15
car.head()

,Price,Mileage,Make,Model,Trim,Type,Cylinder,Liter,Doors,Cruise,Sound,Leather
0,17314.10313,8221,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,1
1,17542.03608,9135,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
2,16218.84786,13196,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,1,0
3,16336.91314,16342,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,0
4,16339.17032,19832,Buick,Century,Sedan 4D,Sedan,6,3.1,4,1,0,1

In [ ]:
car.Make.unique()

array(['Buick', 'Cadillac', 'Chevrolet', 'Pontiac', 'SAAB', 'Saturn'],
      dtype=object)

In [ ]:
Price_Door_2=car[car.Doors==2].Price
Price_Door_4=car[car.Doors==4].Price
stats.shapiro(Price_Door_2)

(0.8156227469444275, 3.098917132561725e-14)

In [ ]:
stats.shapiro(Price_Door_4)

(0.9052332639694214, 4.450914636528528e-19)

In [ ]:
# stats.mannwhitneyu(Price_Door_2,Price_Door_4) #Wilcoxon rank-sum test/Mann–Whitney U test
stats.mannwhitneyu(Price_Door_2,Price_Door_4,alternative='two-sided') #Wilcoxon rank-sum test/Mann–Whitney U test

MannwhitneyuResult(statistic=61032.5, pvalue=0.33411103935986153)

In [ ]:
# Non-parametric alternative to anova
stats.kruskal(car[car.Make=='Buick'].Price,car[car.Make=='Cadillac'].Price,car[car.Make=='Chevrolet'].Price) # Kruskal–Wallis test

KruskalResult(statistic=237.64839257106118, pvalue=2.48489039058624e-52)

In [ ]:
# Non-parametric alternative to Paired t-test
df=pd.read_csv("/content/drive/My Drive/python_data/Hypothesis_Test/paired_wilcoxon_testScores_fullSheet.csv")
pd.options.display.max_columns=6
df.head()

   Score_1  Score_2
0     18.3     12.7
1     13.3     11.1
2     16.5     15.3
3     12.6     12.7
4      9.5     10.5

In [ ]:
stats.wilcoxon(df.Score_1,df.Score_2)  # wilcoxon signed-rank test

WilcoxonResult(statistic=16.0, pvalue=0.03924327615032667)